body {
  font-family: "Poppins", sans-serif;
  background: #f4f6f8;
  margin: 0;
 
  padding: 30px;
}
.mcontainer{
     display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header {
  text-align: center;
  margin-bottom: 25px;
}

header h1 {
  margin: 0;
  color: #333;
}

header p {
  color: #666;
  font-size: 15px;
}

.form-section input, .form-section textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  font-size: 15px;
  font-family: inherit;
}

button {
  background: #0078ff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #005fd1;
}

.blog-list {
  margin-top: 20px;
}

.blog-card {
  background: #f9fafb;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.blog-card h3 {
  margin-top: 0;
  color: #222;
}

.blog-card p {
  color: #555;
  font-size: 15px;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delete-btn {
  background: #ff4444;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.delete-btn:hover {
  background: #d92d2d;
}
