body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #cd49da, #99f2c8);

 
}
.mcontainer{
     height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
   background: rgba(88, 212, 191, 0.644);
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

textarea {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  font-size: 1rem;
}

button {
  background: #036e2c;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

button:hover {
  background: #ff00dd;
}

.hidden {
  display: none;
}

#results {
  margin-top: 1rem;
  text-align: left;
}
footer{

     text-align: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         background-color: #116859;
     width: 100%;
}