:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  
}

body {
  margin: 0;
  min-height: 100vh;
  background: #b7f8c0;
}

  .mcontainer{
  display: flex;
     align-items: center;
  justify-content: center;
  
}

.card {
  width: 450px;
     background: #fff;
     padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  margin-top: 40px;
}

h1 {
     margin: 0 0 12px;
  font-size: 25px;
  text-align: center;
  margin: 20px;
  text-shadow: 3px 2px 2px rgb(255, 81, 0);
}

label {
  display: block;
     margin-top: 10px;
  font-size: 13px;
     color: #353232;
}

textarea {
     width: 95%;
      resize: vertical;
  padding: 8px;
      border-radius: 6px;
  border: 1px solid #e0e0e0;
  margin-top: 6px;
  font-size: 14px;
}

input[type="number"] {
     width: 100%;
  padding: 8px;
     border-radius: 6px;
  border: 1px solid #e0e0e0;
  margin-top: 6px;
}

.buttons {
     display: flex;
  gap: 8px;
  margin-top: 10px;
}

button {
  flex: 1;
     padding: 8px;
  border: none;
    border-radius: 6px;
  cursor: pointer;
    background: #0078d7;
  color: #fff;
  font-weight: 600;
}

button:nth-child(2) {
     background: #00a36c;
}

button:nth-child(3) {
  background: #444;
}

.note {
     margin-top: 12px;
     font-size: 12px;
  color: #666;
}
button:hover{
    background-color: rgb(247, 117, 230);
    color: black;
}


footer{

     text-align: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: #116859;
     width: 100%;
     margin-top: 20px;
     color: #071614;
}
