body {
    font-family: Arial;
    padding: 30px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.create-box, .edit-box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background: #008cff;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
button:hover {
    background: #006acc;
}

.post-card {
    padding: 15px;
    background: white;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
}

footer{

     text-align: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         background-color: #3a726b;
             width: 100%;
            margin-top: 40px;
     
    }