body {
    font-family: Arial;
    padding: 20px;
    background: #f7f7f7;
    color: #222;
}

.dark {
    background: #222;
    color: white;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 5px;
}

.item {
    background: white;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 4px #aaa;
}

.dark .item {
    background: #444;
    color: white;
}

.item h3 {
    cursor: pointer;
    text-decoration: underline;
}

button {
    padding: 10px;
    margin: 5px 0;
}

footer{

     text-align: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         background-color: #3a726b;
             width: 100%;
            margin-top: 40px;
     
    }