body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;

  margin: 0;
 
}
.mcontainer{
     display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  width: 90%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

p {
  margin-bottom: 25px;
  color: #f3f3f3;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.25);
}

button {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(0, 114, 255, 0.7);
}
footer{

     text-align: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         background-color: #07312a;
             width: 100%;
            margin-top: 20px;
    }