body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #5065c2, #693e94);
  height: 100vh;
 
  color: #fff;
}

.mcontainer{
    margin-top: 20px;
     display: flex;
  justify-content: center;
  align-items: center;

}
.app-container {
  background: rgba(214, 85, 193, 0.459);
  border-radius: 22px;
  padding: 42px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 420px;
  text-align: center;
  transition: transform 0.3s;
}
.app-container:hover {
  transform: scale(1.03);
}

header h1 {
  font-size: 1.8em;
  margin-bottom: 6px;
}
header p {
  font-size: 0.9em;
  color: #e6e1e1;
}

.upload-box {
  margin: 25px 0;
  padding: 35px;
  border: 2px dashed #ddd;
  border-radius: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
}
.upload-box:hover {
  background: rgba(255, 255, 255, 0.25);
  border-color: #00f7ff;
  box-shadow: 0 0 10px #00f7ff;
}
.upload-box p {
  color: #f1f1f1;
}
.upload-box input {
  margin-top: 15px;
  color: #fff;

}

.btn {
  background: linear-gradient(90deg, #00eeff, #1e4674);
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 1.3rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 114, 255, 0.5);
}

.loader {
  margin: 15px auto;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0072ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
.hidden {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#message {
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 5px #00f7ff;
}

footer{

     text-align: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         background-color: #07312a;
             width: 100%;
            margin-top: 20px;
    }